In [69]:
import pandas as pd
import csv

### Global Variables

In [71]:
# File paths
Path_Apl_France_Medecins = "APL_France_Medecins.csv"
Path_Distance_Medecins_Communes = "communes_distance_et_evolution_5_ans.csv"

### Création des DataFrames

In [76]:
APL_France_Medecins_df = pd.read_csv(Path_Apl_France_Medecins, dtype='str',encoding='UTF-8', sep=",")

In [77]:
Distance_Medecins_Communes_df = pd.read_csv(Path_Distance_Medecins_Communes, dtype='str',encoding='UTF-8', sep=";")

In [78]:
APL_France_Medecins_df.head()

,Code commune INSEE,Communes,APL aux médecins généralistes,APL aux médecins généralistes de moins de 65 ans,Population standardisée 2014 pour la médecine générale,Nom d'exercice
0,01001,L' Abergement-Clémenciat,2.305,2.021,765.2604758149912,[nan]
1,01002,L' Abergement-de-Varey,2.773,2.683,235.4996212788099,[nan]
2,01004,Ambérieu-en-Bugey,4.428,4.325,13638.75838414545,"['ERRARD', 'CELLIER', 'BILLANDON', 'BELEY', 'G..."
3,01005,Ambérieux-en-Dombes,4.442,4.442,1571.2112473180186,"['PIGNARD', 'DURAFFOURG']"
4,01006,Ambléon,1.084,0.936,119.10786904950405,[nan]

In [79]:
Distance_Medecins_Communes_df.head()

,Code,Nom Commune,Distance au plus proche généraliste 2017,Evolution du nbre de géné sur 5 ans 2017
0,01001,L'Abergement-Clémenciat,5,0
1,01002,L'Abergement-de-Varey,4,0
2,01004,Ambérieu-en-Bugey,0,-1
3,01005,Ambérieux-en-Dombes,0,0
4,01006,Ambléon,11,0

### Jointures des tables

In [80]:
# Renommage des colonnes (facultatif)

Distance_Medecins_Communes_df = Distance_Medecins_Communes_df.rename(columns={ Distance_Medecins_Communes_df.columns[0]: "Code INSEE" })
APL_France_Medecins_df = APL_France_Medecins_df.rename(columns={ APL_France_Medecins_df.columns[0]: "Code INSEE" })

In [99]:
result_df = pd.merge(APL_France_Medecins_df,Distance_Medecins_Communes_df[['Distance au plus proche généraliste 2017','Evolution du nbre de géné sur 5 ans 2017', 'Code INSEE']], how = 'left', on = 'Code INSEE')

In [205]:
result_df.head(5)

,Code INSEE,Communes,APL aux médecins généralistes,APL aux médecins généralistes de moins de 65 ans,Population standardisée 2014 pour la médecine générale,Nom d'exercice,Distance au plus proche généraliste 2017,Evolution du nbre de géné sur 5 ans 2017,inverse APL,APL 65 ans Standardisé,Indice pop,Score,Indice evolution,Score_2
0,01001,L' Abergement-Clémenciat,2.305,2.021,765,[nan],5,0.0,0.494805,2.021,0.5,0.994805,0.0,0.994805
1,01002,L' Abergement-de-Varey,2.773,2.683,235,[nan],4,0.0,0.372717,2.683,0.0,0.372717,0.0,0.372717
2,01004,Ambérieu-en-Bugey,4.428,4.325,13639,"['ERRARD', 'CELLIER', 'BILLANDON', 'BELEY', 'G...",0,-1.0,0.231214,4.325,0.0,0.431214,0.2,0.431214
3,01005,Ambérieux-en-Dombes,4.442,4.442,1571,"['PIGNARD', 'DURAFFOURG']",0,0.0,0.225124,4.442,0.5,0.725124,0.0,0.725124
4,01006,Ambléon,1.084,0.936,119,[nan],11,0.0,1.000000,1.000,0.0,1.000000,0.0,1.000000

### Nettoyage du fichier

In [101]:
# On passe la variable de la population en format numérique
result_df['Population standardisée 2014 pour la médecine générale'] = result_df['Population standardisée 2014 pour la médecine générale'].apply(pd.to_numeric, errors='coerce')

In [104]:
# On arrondit la variable à l'unité près, et sans le "0." ensuite.
result_df['Population standardisée 2014 pour la médecine générale'] = result_df['Population standardisée 2014 pour la médecine générale'].apply(lambda x: round(x))

# Même chose que la ligne du dessus, mais il y a un ".0" après.
result_df['Population standardisée 2014 pour la médecine générale'] = result_df['Population standardisée 2014 pour la médecine générale'].round()

### Stastistiques basiques

In [115]:
# Statistiques de l'évolution des médecins
result_df['Evolution du nbre de géné sur 5 ans 2017'].value_counts()

0      26315
-1      1738
1       1383
-2       433
2        323
-3       159
3        117
-4        77
4         39
-5        34
-6        31
-7        24
5         21
-9        18
7         12
-8         9
-14        7
-12        7
-11        5
-10        5
6          5
-15        3
-16        3
-17        3
12         2
8          2
-23        2
9          2
11         1
16         1
-20        1
22         1
-31        1
38         1
32         1
-30        1
-13        1
66         1
-21        1
-39        1
-67        1
-19        1
10         1
-18        1
Name: Evolution du nbre de géné sur 5 ans 2017, dtype: int64

In [ ]:
# Afficher les communes où l'APL = 0
result_df.loc[result_df['APL aux médecins généralistes de moins de 65 ans'] == 0]

In [ ]:
# statistiques de base sur l'APL
result_df['APL aux médecins généralistes de moins de 65 ans'].describe()

### Création de nouvelles colonnes

#### APL Standardisé

On modifie toutes les valeurs inférieures ou égal à 1 pour qu'elles soient égales à 1. Quant aux valeurs supérieures ou égales à 5 on les fixe à 5.

In [151]:
def standardisation(x):
    if x <= 1:
        return 1
    elif x >= 5:
        return 5
    else:
        return x

In [152]:
result_df['APL 65 ans Standardisé'] = result_df['APL aux médecins généralistes de moins de 65 ans'].apply(lambda x: standardisation(x))

#### Inverse de l'APL

In [116]:
# On passe la variable de la population en format numérique
result_df['APL aux médecins généralistes de moins de 65 ans'] = result_df['APL aux médecins généralistes de moins de 65 ans'].apply(pd.to_numeric, errors='coerce')

In [137]:
def inverse(x):
    if x != 0:
        return 1/x
    else:
        return x

In [155]:
result_df['inverse APL'] = result_df['APL 65 ans Standardisé'].apply(lambda x: inverse(x))

#### Population

Si la population est comprise entre 400 et 3000, Indice pop = 0.5.

In [161]:
def indice_pop(x):
    if 400 <= x <= 3000:
        return 0.5
    else:
        return 0

In [162]:
result_df['Indice pop'] = result_df['Population standardisée 2014 pour la médecine générale'].apply(lambda x: indice_pop(x))

In [165]:
result_df['Indice pop'].value_counts()

0.0    20271
0.5    15633
Name: Indice pop, dtype: int64

#### Evolution

Si l'évolution du niombre de médecins est négative, on lui assigne 0.2.

In [179]:
def evolution(x):
    if x < 0:
        return 0.2
    else:
        return 0

In [181]:
# On passe la variable en format numérique
result_df['Evolution du nbre de géné sur 5 ans 2017']= result_df['Evolution du nbre de géné sur 5 ans 2017'].apply(pd.to_numeric, errors='coerce')

In [182]:
result_df['Indice evolution'] = result_df['Evolution du nbre de géné sur 5 ans 2017'].apply(lambda x: evolution(x))

### Calcul du score

In [206]:
#colonnes utilisées pour calculer le score
colonnes_pour_score_liste = ['inverse APL','Indice pop','Indice evolution']

In [200]:
result_df['Score_2'] = pd.concat(liste_colonnes, axis=1).sum(axis=1)

In [204]:
result_df['Score_2'] = result_df[liste_colonnes].sum(axis=1)

result_df['Score'] = result_df['inverse APL'] + result_df['Indice pop'] + result_df['Indice evolution']

In [201]:

result_df.loc[result_df['Score'] > 1]

,Code INSEE,Communes,APL aux médecins généralistes,APL aux médecins généralistes de moins de 65 ans,Population standardisée 2014 pour la médecine générale,Nom d'exercice,Distance au plus proche généraliste 2017,Evolution du nbre de géné sur 5 ans 2017,inverse APL,APL 65 ans Standardisé,Indice pop,Score,Indice evolution,Score_2
15,01017,Argis,1.592,1.592,449,[nan],3,0.0,0.628141,1.592,0.5,1.128141,0.0,1.128141
40,01044,Billiat,1.72,1.610,563,[nan],7,0.0,0.621118,1.610,0.5,1.121118,0.0,1.121118
49,01054,Bourg-Saint-Christophe,1.948,1.838,1160,[nan],4,0.0,0.544070,1.838,0.5,1.044070,0.0,1.044070
52,01058,Brégnier-Cordon,1.623,1.434,835,['ROBERT'],0,0.0,0.697350,1.434,0.5,1.197350,0.0,1.197350
54,01060,Brénod,1.999,1.069,587,['KACZMARCZYK'],0,0.0,0.935454,1.069,0.5,1.435454,0.0,1.435454
56,01062,Bressolles,2.062,1.914,784,[nan],4,0.0,0.522466,1.914,0.5,1.022466,0.0,1.022466
62,01068,Cerdon,2.144,1.754,808,[nan],5,0.0,0.570125,1.754,0.5,1.070125,0.0,1.070125
73,01080,Champdor-Corcelles,2.371,1.339,662,[nan],5,0.0,0.746826,1.339,0.5,1.246826,0.0,1.246826
74,01081,Champfromier,1.442,1.387,708,['GROSREY'],0,0.0,0.720981,1.387,0.5,1.220981,0.0,1.220981
75,01082,Chanay,0.649,0.649,583,[nan],9,0.0,1.000000,1.000,0.5,1.500000,0.0,1.500000
87,01095,Chavannes-sur-Suran,2.469,2.433,625,[nan],9,-1.0,0.411015,2.433,0.5,1.111015,0.2,1.111015
96,01104,Chézery-Forens,0.567,0.567,453,[nan],6,0.0,1.000000,1.000,0.5,1.500000,0.0,1.500000
110,01118,Corbonod,1.336,1.336,1290,"['JARRY-PALATINI', 'PERRIER-DAVID']",2,0.0,0.748503,1.336,0.5,1.248503,0.0,1.248503
112,01122,Cormaranche-en-Bugey,2.007,1.339,826,[nan],4,0.0,0.746826,1.339,0.5,1.246826,0.0,1.246826
115,01125,Corveissiat,2.067,2.067,594,[nan],6,-1.0,0.483793,2.067,0.5,1.183793,0.2,1.183793
116,01127,Courmangoux,2.27,1.844,528,[nan],7,0.0,0.542299,1.844,0.5,1.042299,0.0,1.042299
125,01139,Curciat-Dongalon,2.034,1.789,504,[nan],6,0.0,0.558971,1.789,0.5,1.058971,0.0,1.058971
134,01148,Dortan,2.323,1.851,1820,['NOUYRIGAT'],0,0.0,0.540249,1.851,0.5,1.040249,0.0,1.040249
138,01152,Échallon,0.056,0.056,760,[nan],13,0.0,1.000000,1.000,0.5,1.500000,0.0,1.500000
142,01156,Faramans,1.935,1.804,733,[nan],7,0.0,0.554324,1.804,0.5,1.054324,0.0,1.054324
150,01166,Frans,3.259,3.115,2112,[nan],2,-1.0,0.321027,3.115,0.5,1.021027,0.2,1.021027
151,01167,Garnerans,1.989,1.639,631,[nan],4,0.0,0.610128,1.639,0.5,1.110128,0.0,1.110128
154,01171,Géovreisset,2.569,1.916,829,[nan],5,0.0,0.521921,1.916,0.5,1.021921,0.0,1.021921
167,01187,Haut Valromey,1.074,0.731,749,[nan],13,0.0,1.000000,1.000,0.5,1.500000,0.0,1.500000
169,01189,Injoux-Génissiat,0.984,0.929,1062,[nan],8,0.0,1.000000,1.000,0.5,1.500000,0.0,1.500000
183,01204,Le Poizat-Lalleyriat,0.583,0.522,666,[nan],12,0.0,1.000000,1.000,0.5,1.500000,0.0,1.500000
189,01210,Lélex,0,0.000,237,[nan],18,-1.0,1.000000,1.000,0.0,1.200000,0.2,1.200000
195,01216,Lhuis,1.673,1.370,982,"['PERROUD', 'PERROUD']",0,0.0,0.729927,1.370,0.5,1.229927,0.0,1.229927
200,01225,Lurcy,2.117,1.838,404,[nan],3,0.0,0.544070,1.838,0.5,1.044070,0.0,1.044070
202,01228,Maillat,3.575,2.722,612,"['BARADEL', 'GROZA']",0,-1.0,0.367377,2.722,0.5,1.067377,0.2,1.067377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35438,91547,Saint-Escobille,1.658,1.549,469,[nan],7,0.0,0.645578,1.549,0.5,1.145578,0.0,1.145578
35588,94056,Périgny,3.767,3.296,2324,"['FADDEEFF', 'VIEL DE BARY']",0,-1.0,0.303398,3.296,0.5,1.003398,0.2,1.003398
35608,95008,Aincourt,2.674,2.500,888,['AMANE'],0,-1.0,0.400000,2.500,0.5,1.100000,0.2,1.100000
35611,95014,Andilly,3.489,3.290,2552,"['SHEKOORY', 'SOMMEN-CHAWKI']",0,-1.0,0.303951,3.290,0.5,1.003951,0.2,1.003951
35614,95023,Arronville,2.155,1.864,620,[nan],4,0.0,0.536481,1.864,0.5,1.036481,0.0,1.036481
35616,95026,Asnières-sur-Oise,3.376,2.948,2502,['BRUNEAU'],0,-1.0,0.339213,2.948,0.5,1.039213,0.2,1.039213
35627,95058,Bernes-sur-Oise,3.506,3.170,2498,[nan],3,-2.0,0.315457,3.170,0.5,1.015457,0.2,1.015457
35647,95142,Chars,1.808,1.808,1947,['ATANASIU'],0,0.0,0.553097,1.808,0.5,1.053097,0.0,1.053097
35658,95177,Cormeilles-en-Vexin,1.81,1.772,1183,['LEFEBVRE'],0,1.0,0.564334,1.772,0.5,1.064334,0.0,1.064334
35668,95213,Épiais-Rhus,1.623,1.553,641,[nan],5,0.0,0.643915,1.553,0.5,1.143915,0.0,1.143915
35688,95287,Grisy-les-Plâtres,1.784,1.746,599,[nan],3,0.0,0.572738,1.746,0.5,1.072738,0.0,1.072738
35691,95298,Haravilliers,1.549,1.432,511,[nan],8,0.0,0.698324,1.432,0.5,1.198324,0.0,1.198324
35760,95566,Saint-Martin-du-Tertre,2.054,1.817,2611,"['CHORT', 'FARGEAS', 'GASPAR', 'NARAINEN', 'ME...",0,-1.0,0.550358,1.817,0.5,1.250358,0.2,1.250358
35767,95592,Seraincourt,3.493,3.110,1278,"['DUMOND', 'BRUNET']",0,-1.0,0.321543,3.110,0.5,1.021543,0.2,1.021543
35776,95627,Vallangoujard,2.153,1.915,586,[nan],6,-1.0,0.522193,1.915,0.5,1.222193,0.2,1.222193
35777,95628,Valmondois,1.84,1.625,1197,[nan],3,-1.0,0.615385,1.625,0.5,1.315385,0.2,1.315385
35780,95641,Vémars,2.83,2.613,2169,[nan],3,-1.0,0.382702,2.613,0.5,1.082702,0.2,1.082702
35783,95656,Vienne-en-Arthies,1.847,1.740,431,[nan],2,0.0,0.574713,1.740,0.5,1.074713,0.0,1.074713
35831,97208,Fonds-Saint-Denis,1.962,1.749,867,[nan],7,NaN,0.571755,1.749,0.5,1.071755,0.0,1.071755
35834,97211,Grand'Rivière,0.252,0.252,745,[nan],13,NaN,1.000000,1.000,0.5,1.500000,0.0,1.500000
35838,97215,Macouba,0.868,0.868,1202,[nan],5,NaN,1.000000,1.000,0.5,1.500000,0.0,1.500000
35842,97219,Le Prêcheur,1.707,1.601,1649,['HABIB'],0,NaN,0.624610,1.601,0.5,1.124610,0.0,1.124610
35856,97233,Le Morne-Vert,1.488,1.169,1985,['MACENO'],6,NaN,0.855432,1.169,0.5,1.355432,0.0,1.355432
35857,97234,Bellefontaine,1.666,1.336,1566,['MACENO'],0,NaN,0.748503,1.336,0.5,1.248503,0.0,1.248503
35858,97301,Régina,0,0.000,794,[nan],81,NaN,1.000000,1.000,0.5,1.500000,0.0,1.500000
35860,97303,Iracoubo,0,0.000,1615,[nan],31,NaN,1.000000,1.000,0.5,1.500000,0.0,1.500000
35867,97310,Roura,0.813,0.505,2916,"['TUKUMBANE MUAMBI', 'CASTAING']",0,NaN,1.000000,1.000,0.5,1.500000,0.0,1.500000
35870,97313,Montsinéry-Tonnegrande,0.625,0.625,2117,[nan],20,NaN,1.000000,1.000,0.5,1.500000,0.0,1.500000
35874,97356,Camopi,0,0.000,1278,[nan],NaN,NaN,1.000000,1.000,0.5,1.500000,0.0,1.500000
35878,97361,Awala-Yalimapo,1.063,0.583,1094,[nan],17,NaN,1.000000,1.000,0.5,1.500000,0.0,1.500000

In [198]:
result_df.head(25)

,Code INSEE,Communes,APL aux médecins généralistes,APL aux médecins généralistes de moins de 65 ans,Population standardisée 2014 pour la médecine générale,Nom d'exercice,Distance au plus proche généraliste 2017,Evolution du nbre de géné sur 5 ans 2017,inverse APL,APL 65 ans Standardisé,Indice pop,Score,Indice evolution,Score_2
0,01001,L' Abergement-Clémenciat,2.305,2.021,765,[nan],5,0.0,0.494805,2.021,0.5,0.994805,0.0,0.994805
1,01002,L' Abergement-de-Varey,2.773,2.683,235,[nan],4,0.0,0.372717,2.683,0.0,0.372717,0.0,0.372717
2,01004,Ambérieu-en-Bugey,4.428,4.325,13639,"['ERRARD', 'CELLIER', 'BILLANDON', 'BELEY', 'G...",0,-1.0,0.231214,4.325,0.0,0.431214,0.2,0.231214
3,01005,Ambérieux-en-Dombes,4.442,4.442,1571,"['PIGNARD', 'DURAFFOURG']",0,0.0,0.225124,4.442,0.5,0.725124,0.0,0.725124
4,01006,Ambléon,1.084,0.936,119,[nan],11,0.0,1.000000,1.000,0.0,1.000000,0.0,1.000000
5,01007,Ambronay,4.837,4.672,2474,"['TANGUY', 'BLANCHON', 'BARD']",0,-1.0,0.214041,4.672,0.5,0.914041,0.2,0.714041
6,01008,Ambutrix,4.313,3.995,685,[nan],2,0.0,0.250313,3.995,0.5,0.750313,0.0,0.750313
7,01009,Andert-et-Condon,4.451,4.009,351,[nan],7,0.0,0.249439,4.009,0.0,0.249439,0.0,0.249439
8,01010,Anglefort,2.133,2.010,1089,[nan],6,0.0,0.497512,2.010,0.5,0.997512,0.0,0.997512
9,01011,Apremont,1.817,1.587,371,[nan],7,0.0,0.630120,1.587,0.0,0.630120,0.0,0.630120
10,01012,Aranc,1.46,0.893,358,[nan],12,0.0,1.000000,1.000,0.0,1.000000,0.0,1.000000
11,01013,Arandas,0.531,0.531,165,[nan],10,0.0,1.000000,1.000,0.0,1.000000,0.0,1.000000
12,01014,Arbent,2.536,2.028,3346,"['NICOLESCU', 'BORGES', 'BOURGIN']",0,1.0,0.493097,2.028,0.0,0.493097,0.0,0.493097
13,01015,Arboys en Bugey,3.408,2.911,675,[nan],5,0.0,0.343525,2.911,0.5,0.843525,0.0,0.843525
14,01016,Arbigny,2.997,2.845,434,[nan],5,0.0,0.351494,2.845,0.5,0.851494,0.0,0.851494
15,01017,Argis,1.592,1.592,449,[nan],3,0.0,0.628141,1.592,0.5,1.128141,0.0,1.128141
16,01019,Armix,0,0.000,27,[nan],15,0.0,1.000000,1.000,0.0,1.000000,0.0,1.000000
17,01021,Ars-sur-Formans,2.096,2.096,1281,"['AMIEUX', 'LANGRAND-SIMONOT', 'LEROLLE', 'MIC...",0,2.0,0.477099,2.096,0.5,0.977099,0.0,0.977099
18,01022,Artemare,3.954,3.807,1283,"['TRUONG', 'RUMLEY', 'RODRIGUES-MOCARD', 'MACH...",0,1.0,0.262674,3.807,0.5,0.762674,0.0,0.762674
19,01023,Asnières-sur-Saône,1.563,1.563,65,[nan],4,0.0,0.639795,1.563,0.0,0.639795,0.0,0.639795
20,01024,Attignat,4.28,3.801,3127,"['GAUDRY', 'BRUN', 'CONSTANTIN']",0,0.0,0.263089,3.801,0.0,0.263089,0.0,0.263089
21,01025,Bâgé-la-Ville,3.269,3.137,2937,[nan],2,0.0,0.318776,3.137,0.5,0.818776,0.0,0.818776
22,01026,Bâgé-le-Châtel,3.893,3.760,969,"['PERRIN', 'MOREL', 'ETIENNE', 'FLAMENT']",0,2.0,0.265957,3.760,0.5,0.765957,0.0,0.765957
23,01027,Balan,3.217,2.990,2446,[nan],4,0.0,0.334448,2.990,0.5,0.834448,0.0,0.834448
24,01028,Baneins,2.421,2.199,566,[nan],5,0.0,0.454752,2.199,0.5,0.954752,0.0,0.954752

### Export du fichier en CSV

In [188]:
result_df.to_csv('Communes_APL_et_Distances.csv', sep=',', encoding='utf-8', quotechar='"', index=False, quoting=csv.QUOTE_ALL)